.printPage {
  margin-left: 50%;
}

.printButton {
  width: 300px;
}

.btn.btn-primary.link {
  background: #2c82c9;
  width: 160px;
  height: 70px;
  border: none;
  border-radius: 5px;
  font-size: large;
}

.btn.btn-primary.link:hover,
.btn.btn-primary.link:focus {
  border-color: #2cc990 !important;
  background: #2cc990 !important;
}
