html {
  background-image: linear-gradient(#205072, #56c596);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  background-color: rgb(131, 214, 52, 0);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1000px;
}

.jumbotron {
  margin-top: auto auto;
}
