img.logo {
  padding-bottom: 13%;
  margin-left: 32%;
  width: 200px;
}

.login-text {
  font-size: 50px;
  margin-bottom: 10%;
}

.jost {
  font-family: jost;
}
@font-face {
  font-family: "jost";
  src: url(../fonts/Jost-Regular.ttf);
}
